{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею:</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python чуть-чуть
      </li>
      <li class="list-group-item">
        Django чуть-чуть
      </li>
      <li class="list-group-item">
        Html & CSS чуть-чуть
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Чем больше я учу, тем больше понимаю, что вообще ничего не знаю!
    А еще, выделяю для этого все больше времени, но все время кажется,
    что недостаточно!
    </p>
  </article>
</div>
{% endblock %}